snippet desc
	/**
	* @description
	* @author duanjun
	* @date `strftime("%Y/%m/%d")`
	*/

	/*jslint browser: true, vars: true, nomen: true, indent: 4, maxlen: 120, plusplus: true, sloppy: true*/
	/*global define: true, require, $ , module, angular, __inline, console, phantom*/
endsnippet

snippet log
	console.log(JSON.stringify(${1}, null, 2));
endsnippet
